dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
padiclinear.aux
padiclinear.lof
padiclinear.log
padiclinear.out
padiclinear.toc
padiclinear.tex~
padiclinear.pdf
*~
*.hi
*.o
Validator
unicode2num
singular2plural
singular2plural.prof
singular2plural.prof1
singular2plural.prof2
singular2plural.prof3
singular2plural.prof4
singular2plural.prof5
