family-metric-chart-afro_asiatic.png
family-metric-chart-all_human.png
family-metric-chart-arawakan.png
family-metric-chart-atlantic_congo.png
family-metric-chart-australian_aboriginal.png
family-metric-chart-austroasiatic.png
family-metric-chart-austronesian.png
family-metric-chart-dravidian.png
family-metric-chart-indo_european.png
family-metric-chart-kra_dai.png
family-metric-chart-mande.png
family-metric-chart-niger_congo.png
family-metric-chart-nilo_saharan.png
family-metric-chart-oto_manguean.png
family-metric-chart-pama_nyungan.png
family-metric-chart-sino_tibetan.png
family-metric-chart-trans_new_guinea.png
family-metric-chart-tupian.png
family-metric-chart-unclassified.png
family-metric-chart-unrecorded.png
