metric-family-chart-global_padic_linear_proportion_correct.png
metric-family-chart-global_siegel_proportion_correct.png
metric-family-chart-hybrid_siegel_proportion_correct.png
metric-family-chart-local_euclidean_siegel_proportion_correct.png
metric-family-chart-local_padic_linear_proportion_correct.png
metric-family-chart-y_equals_x_proportion_correct.png
